<h1>Create a cat here!</h1>

<form method="POST" action="/cats">

    <p>What does your kitty look like?</p>
    <textarea name="face"></textarea>

    <p>What is the breed?</p>
    <textarea name="breed"></textarea>

    <p>What sex are they?</p>
    <select name="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="intersex">Intersex</option>
    </select>
    
    <p>What will you name your cat?</p>
    <textarea name="name"></textarea>

    <input type="submit" value="Create cat!">
</form>